<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <title>Yeni Müşteri</title>
</head>
<body>

<th:block layout:fragment="content">
    <h3>Yeni Müşteri Formu</h3>
    <div class="col-md-6">
        <form action="/customers" th:object="${customer}" method="post">
            <div class="form-group">
                <label>Müşteri Adı</label> <input class="form-control" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label>E-posta Adresi</label> <input type="email" class="form-control" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</th:block>

</body>
</html>